@import "tailwindcss";

@theme {
    /* colors: */
      --color-red: #D72411;
      --color-light-blue: #AFCDDD;
      --color-mid-blue: #136794;
      --color-dark-blue: #093248;
      --color-light-grey: #E2E2E2;
      --color-dark-grey: #7E7E7E;
    }
    
    @font-face {
      font-family: Raleway;
      font-style: normal;
      font-weight: 200 700;
      src: url("../public/fonts/Raleway-VariableFont_wght.ttf") format("woff2");
    }
  